.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem dotted var(--grey_base);
  padding: 1rem 0;
  margin: 1rem 0;
}

.cart-item h2 {
  margin: 0 0 0.75rem 0;
}

.summary {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: 800;
  color: var(--dark_base);
}

.amount {
  font-weight: 800;
}

.actions {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
}

/* @media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }
} */

.cart-item button {
  display: flex;
  justify-content: center;
  align-items: center;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
  margin-left: 1rem;
  margin-bottom: -2.25rem;
  border: none;
}

.cart-item-icon{
  font-size: 2.5rem;
  color: var(--dark_base);
  background-color: transparent;
  cursor: pointer;
}

.cart-item-icon:hover,
.cart-item-icon:active {
  background-color: var(--base);
  color: aliceblue;
  border-radius: 50%;
}