.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem dotted var(--grey_base);
  padding: 1rem 0;
  margin: 1rem 0;
}

.cart-item h2 {
  margin: 0 0 0.75rem 0;
}

.summary {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: 800;
  color: var(--dark_base);
}

.amount {
  font-weight: 800;
}

.actions {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }
}

.cart-item button {
  font: inherit;
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--dark_base);
  border: 0.1rem solid var(--base);
  width: 3rem;
  text-align: center;
  border-radius: 0.5rem;
  background-color: transparent;
  cursor: pointer;
  margin-left: 1rem;
  margin-bottom: -2.25rem;
}

.cart-item button:hover,
.cart-item button:active {
  background-color: var(--base);
  color: aliceblue;
}