.products {
  max-width: 50rem;
  /* width: 90%; */
  margin: 1.5rem auto;
  animation: show-products 1s ease-out forwards;
}

.products ul {
  max-height: 35rem;
  overflow-y: scroll;
  list-style: none;
  margin: 0;
  padding: 0.75rem;
}

@media (max-width: 768px) {
  .products ul {
    max-height: 25rem;
  }
}

@keyframes show-products {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
}


