.info {
  position: relative;
  text-align: center;
  max-width: 40rem;
  width: 100%;
  margin:auto;
  border-radius: 1rem;
  margin-top: -10rem;
  margin-bottom: 10rem;
  color: aliceblue;
  background-color: var(--transparent_grey_base);
  box-shadow: 0 0.5rem 1.8rem 1rem rgba(12, 12, 12, 0.25);
  padding: 0.75rem;
}

.info h2 {
  font-size: 1.8rem;
  margin-top: 0;
}