.form {
  text-align: right;
  margin-top: -3.85rem;
  margin-bottom: 1rem;
}

.form button {
  cursor: pointer;
  background-color: rgb(144, 44, 238);
  color: aliceblue;
  font: inherit;
  font-weight: 500;
  border: 0.1rem solid rgb(144, 44, 238);
  border-radius: 1rem;
  padding: 0.35rem 2.75rem;
}

.form button:hover,
.form button:active {
  background-color: rgb(70, 12, 125);
  border-color: rgb(70, 12, 125);
}
