.form {
  text-align: right;
  margin-top: -3.85rem;
  margin-bottom: 1rem;
}

.form button {
  cursor: pointer;
  background-color: var(--purple);
  color: aliceblue;
  font: inherit;
  font-weight: 500;
  border: 0.1rem solid var(--purple);
  border-radius: 1rem;
  padding: 0.35rem 2.75rem;
}

.form button:hover,
.form button:active {
  background-color: var(--dark_purple);
  border-color: var(--dark_purple);
}
