* { box-sizing: border-box;}

:root {
  --base: rgb(34, 166, 29);
  --grey_base: rgb(86, 87, 86);
  --transparent_grey_base: rgba(86, 87, 86, 0.75);
  --dark_base: rgb(9, 86, 63);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--grey_base);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


